footer.footer
    .footer__logo
        img(src="img/logo-green.png", alt="Consult Brian logo")
    ul.footer__nav
        li: a(href="#") About us
        li: a(href="#") Download app
        li: a(href="#") Become a Guide
        li: a(href="#") Careers
        li: a(href="#") Contact
    p.footer__copyright &copy; Consult Brian 2018 - 2020 | All rights reserved.